<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-button (click)="back()"  icon-only>
        <ion-icon   name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">{{seance.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
            <img src="{{seance.photo}}">
            <div class="myOverlay"><ion-icon name="timer-outline"></ion-icon> 4 exercices</div>
            <div class="myOverlay1">    <ion-icon color="light" name="time-outline"></ion-icon> 3h30 min </div>
         <p class="text">{{seance.description}}</p>
          </div>
          
          <div class="ion-text-center">
            <ion-button icon-left size="medium" shape="round"  class="list" (click)="getexercices()"  tappable>
              <ion-icon name="time-outline" class="icon"></ion-icon>
             &nbsp;exercices
            </ion-button>
            </div>
</ion-content>



