<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-button (click)="back()"  icon-only>
        <ion-icon   name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Conditions d'utilisations</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="innerContent">
  <h1 class="title1">1. Général</h1>
  <p class="text">Les conditions générales d’utilisation doivent être rédigées dans le respect des dispositions légales applicables : en aucun cas une clause ne peut déroger aux dispositions d’ordre public. Au-delà de cet impératif, l’éditeur du site peut prévoir toute mention utile pour informer l’internaute sur le contenu du site d’une part, se protéger contre d’éventuels litiges avec l’utilisateur d’autre part.</p>
  <h1 class="title1">2.Contrat d'accord </h1>
  <p class="text">Les droits et les obligations de l’utilisateur : les droits de l’utilisateur peuvent concerner notamment sa marge de manœuvre au moment de la création d’un espace personnel. Ses obligations peuvent inclure l’obligation de maintenir le caractère confidentiel de ses identifiants de connexion, l’obligation d’utiliser le site conformément à sa destination, l’obligation de ne pas tenter de nuire au bon fonctionnement du site… Ces dispositions des conditions générales d’utilisation permettent d’engager sa responsabilité en cas de dommage résultant du non-respect desdites obligations.</p>
  <h1 class="title1">3.Téléchargment via play store</h1>
  <p class="text"> Les conditions d’utilisation du forum ou d’un espace de libre échange : lorsque l’utilisateur est autorisé à publier lui-même du contenu sur le site, les conditions générales d’utilisation du site encadrent cet espace de libre échange. L’éditeur, notamment, peut limiter sa responsabilité de manière à ne pas être tenu responsable en cas de propos injurieux ou de publication de contenu contrefaisant les droits de propriété intellectuelle d’un tiers.</p>
  <h1 class="title1">4.Inscription</h1>
  <p class="text">La responsabilité limitée de l’éditeur quant aux liens hypertextes : des liens de redirection du site peuvent pointer vers des sites tiers. Les conditions générales d’utilisation précisent le lien juridique entre le site et le site tiers, et permettent de décharger l’éditeur de sa responsabilité en cas de contenu illicite sur le site tiers vers lequel le lien hypertexte redirige.</p>
</div>
</ion-content>

