<ion-header #header >
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="title">Plans d'entrainement</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scrollEvents="true"  >
  <div cards >

    <div class="grid-full" >
      <ion-row class="row">
        <ion-col tappable (click)="getPrograms(programgroup)"  class="col" *ngFor="let programgroup of programgroups;">
          <ion-card >
            <img src="{{programgroup.photo}}">
            <p  class="myOverlay">{{programgroup.title}} </p>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

  </div>
 
</ion-content>

