<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-button (click)="back()"  icon-only>
        <ion-icon   name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Séances d'exercices</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div cards>
    <div class="grid-full">
          <ion-card tappable (click)="details(seance)"  *ngFor="let seance of seances" tappable>
            <img src="{{seance.photo}}">
            <h2>{{seance.title}}</h2>
            <div class="card-title"><div class="myOverlay"><ion-icon name="timer-outline"></ion-icon> 5 exercices</div>
            <div class="myOverlay1">    <ion-icon color="light" name="time-outline"></ion-icon> 5 h 15 min </div>
          </div>
          </ion-card>
    </div>
  </div>
</ion-content>
<!--
    <ion-card-title>{{seance.title}}</ion-card-title>
      <ion-card-subtitle> <b>Nombre d'exercices :</b> {{seance.exercicesNumber}}</ion-card-subtitle>
      <ion-card-subtitle> <b> Durée total d'entrainement: </b> {{seance.totalDuration}}</ion-card-subtitle>
-->

