ion-content{
    --ion-background-color: #2880e4;
    padding-top:0px
  }

  ion-header {
    &.header-md:after {
      background: none;
    }
  }
  

@media screen and (max-width: 500px) {

    
    .title1
    {
      font-size : 5vmin ;
      color : white;
      text-align : center;
      font-weight :bold;
    }
    
    .title2
    {
      font-size : 4.5vmin ;
      color : white;
      text-align : center;
     
    }
 
    .text
    {
    font-size: 4vmin;
    color : white;
    margin-top : 3%;
    }
      .title
      {
      color:white; 
      font-size: 5vmin;
      text-align :center;
      }
    
      .pass
{
  font-size : 5vmin ;
}
.icon
{
font-size: 6vmin;
}
      .innerContent
{
padding-right: 7%;
padding-left: 7%;
width : 100%;
}

 .text1
    {
        margin-left :8%;
    }

  .text2
  {
    margin-left :8%;
    font-size:3vmin;
  }  
    }
    

