<ion-header>
  <ion-toolbar color="secondary" >
    <div class="backIconForm">
    <ion-buttons slot="start" >
      <ion-button (click)="back()" icon-only>
        <ion-icon   class="backIcon" (click)="back()" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
    <div class="ion-text-center">
      <img class="logoImage" src="../../../assets/img/logo.png"/>
    </div>
  </ion-toolbar>
  </ion-header>
<!--<ion-content  scrollEvents="true" fullscreen  hide-header [header]="header" [footer]="footer" [show]="show"> -->
 <ion-content > 
  <div  class="innerContent" >
    <form [formGroup]="onForm" >
      <ion-item>
        <ion-label position="floating" class="label">
          <ion-icon item-start name="key-outline"></ion-icon>
         Nouveau  mot de passe
        </ion-label>
        <ion-input  clearInput  [type]="passwordType" formControlName="pass"></ion-input>
        <ion-icon *ngIf="onForm.get('pass').value!=null" color="white"  slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
    


      <ion-item >
        <ion-label position="floating" class="label">
          <ion-icon item-start name="key-outline"></ion-icon>
         Confirmation mot de passe
        </ion-label>
        <ion-input clearInput  [type]="passwordType1" clearInput type="password" formControlName="passConfirm"></ion-input>
        <ion-icon *ngIf="onForm.get('passConfirm').value!=null" color="white"  slot="end" [name]="passwordIcon1"  (click)='hideShowPassword1()'></ion-icon>
      </ion-item>
     
      
    

   
      <ion-item>
        <ion-label position="floating" class="label">
          <ion-icon item-start name="radio-button-off"></ion-icon>
        Jeton de réinitialisation
        </ion-label>
        <ion-input clearInput  type="text"   formControlName="jeton"></ion-input>
      
      </ion-item>
      <br>
      <p class="infos">
     
        Consultez ton boite de réception pour retrouver un mail de box-to-box contenant ton jeton de réinitialisation de mot de passe 
           </p>
     
      </form>
    </div>
</ion-content>

<ion-footer color="secondary"  class="ion-no-padding  ion-no-border"  no-shadow  #footer>
 
    <ion-button class="ion-no-margin"  (click)="resetPassword()" icon-left size="large" expand="block" color="tertiary"   tappable>
      <ion-icon name="create" class="icon"></ion-icon>
    <span class="pass" >Changer mot de passe</span> 
    </ion-button>
 
</ion-footer>
