[cards] {
  .grid-full ion-col {
      flex: 0 0 75%;
      max-width: 75%;
      padding: 0px 0px;
      height : 150px;
      border-radius : 14%;
  }
  
 

  img{
    height : 160px;
    width : 100%;
    opacity : 0.7;
    background :rgba(0, 0, 0, 0.952); 
 }

 ion-card.md.hydrated
 {
 
  border-radius: 14px 14px 14px 14px;
  position: relative;
  height:160px;
  background-color: rgba(0, 0, 0, 0.952);   

 }
}

.title
{
color:white; 
font-size: 4.5vmin;
text-align : center
}

.subTitle
{

  font-size : 4.5vmin;
  left : 5%;
  font-weight : bold;
  color : white;
  padding-top : 5%;
  padding-left : 5%;
}

.myOverlay{
  font-size : 4vmin;
  margin-left : 5%;
  color: #fff;
  font-style: normal;
  float:left;
  position :absolute ;
  top : 85%;
}

.myOverlay1{
  font-size : 4vmin;
  margin-left:50%;
  color: #fff;
  font-style: normal;
  position :absolute ;
  top : 85%;
}

ion-card {
  position: relative;
}

.card-title {
  position: absolute;
  top: 80%;
  height : 20%;
  width: 100%;
  vertical-align: middle;
}
ion-header {
  &.header-md:after {
    background: none;
  }
}

ion-content{
  --ion-background-color: black;   
}