<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-button (click)="back()" icon-only>
        <ion-icon   class="backIcon" (click)="back()" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title"> Vidéo de challenge</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="innerContent" >
    <ion-item  >
      <ion-label position="floating" class="label">
       <ion-icon name="mail" item-start></ion-icon>
       Nom séance
     </ion-label>
     <ion-input  [(ngModel)]="currentSeance" readonly="readonly"></ion-input>
   </ion-item>

   <ion-item  >
    <ion-label position="floating" class="label">
     <ion-icon name="videocam-outline" item-start></ion-icon>
    Titre vidéo
   </ion-label>
   <ion-input   clearInput   type="text"  [(ngModel)]="title"></ion-input>
 </ion-item>
<br><br>
 <div class="ion-text-center">
    <ion-button class="but"   shape="round" (click)="recordVideo()"><span class="labelButton">Capturer</span>&nbsp;<ion-icon class="icon" name="videocam-outline"></ion-icon></ion-button>
    <ion-button   class="but"  shape="round" (click)="selectVideo()"><span class="labelButton">Choisir</span>&nbsp;<ion-icon class="icon" name="film-outline"></ion-icon></ion-button>
  </div>
  
 <p><b>Partager sur réseaux sociaux: </b> &nbsp; <ion-checkbox  [(ngModel)]="socialMedia" color="primary"></ion-checkbox></p>
 <div class="ion-text-center">
 <ion-button class="but"   shape="round" ion-button [disabled]="selectedVideo === '' || title ===''" (click)="uploadVideo()"><ion-icon name="checkmark-outline"></ion-icon>&nbsp;<span class="labelButton">Valider séance</span>
</ion-button>
</div>

<div *ngIf="isUploading">
  <div class="uploading">
    <p><ion-spinner name="bubbles"></ion-spinner></p>
    <p>Uploading - {{ uploadPercent }}% Complete</p>
  </div>
  <div class="button-options">
    <ion-button ion-button clear (click)="cancelUpload()">
      <ion-icon name="close-circle" ></ion-icon>
    </ion-button>
  </div>
</div>
</div>
</ion-content>
